.home-content {
    margin: 15px auto;
    max-width: 700px;
}

.home-button {
    display: block;
    width: fit-content;
    margin: 30px auto;
    padding: 10px;
    border: 2px solid var(--black);
    border-radius: 2px;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--white);
}

.home-button:focus, .home-button:hover {
    background-color: var(--tan);
}