.home-content {
    margin: 15px;
}

.home-button {
    display: inline-block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid var(--black);
    border-radius: 2px;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--white);
}

.home-button:focus, .home-button:hover {
    background-color: var(--tan);
}

.home-header {
    text-align: center;
    padding: 30px 15px;
}

#home-logo {
    border: 3px solid var(--black);
    max-width: 90%;
    border-radius: 5px;
}

#tryitout {
    text-align: center;
}

#tryitout p {
    margin: 0;
    padding: 0;
}

.democreds {
    font-style: italic;
    font-weight: bold;
}