.bodysection {
    min-height: 200px;
    padding: 30px 15px;
    background-color: #ddd;
}

.bodysection:nth-child(odd) {
    background-color: #fff;
}

h1, h2, h3 {
    text-align: center;
}

.newsheet-form label {
    display: block;
    margin: 5px auto;
}

.newsheet-form textarea {
    vertical-align: middle;
}

.form-buttons {
    text-align: center;
}

.form-error {
    color: red;
}

.account-modal {
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
    border: 3px solid #000;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    padding: 5%;
}

.account-form label {
    display: block;
    margin: 5px auto;
}