:root {
    --black: #24120D;
    --link: #73361E;
    --tan: #D2BEB4;
    --white: #F2EAE6;
    --red: #B34E2C;
}

main {
    margin: 0 4.5% 0 5.5%;
    padding: 0;
}

.screenreader-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/** GET RID OF THIS? */
.bodysection {
    min-height: 200px;
    padding: 30px 15px;
}


/** TEXT STYLING */
h1, h2, h3 {
    font-family: 'Pirata One', cursive;
    text-align: center;
}

a {
    color: var(--link);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}


/** FORM STYLING */
.newsheet-form fieldset, .account-form fieldset {
    border: 2px solid var(--black);
    border-radius: 2px;
    width: 100%;
}

.newsheet-form legend, .account-form legend {
    font-family: 'Pirata One', cursive;
}

.newsheet-form label, .account-form label {
    display: block;
    margin: 5px auto;
}

#perks-fieldset label, #goals-fieldset label {
    display: inline;
    margin: 5px;
}

.newsheet-form input[type="text"], .newsheet-form input[type="number"], .newsheet-form select, .newsheet-form textarea, .account-form input[type="text"], .account-form input[type="password"] {
    background-color: var(--white);
    color: var(--black);
    vertical-align: middle;
    margin: 5px 10px;
    padding: 5px;
    border: 1px solid var(--black);
    border-radius: 2px;
}

.form-buttons {
    text-align: center;
}

.newsheet-form button, .account-form button {
    background-color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--black);
    margin: 5px 10px;
    padding: 5px;
    border: 2px solid var(--black);
    border-radius: 2px;
}

.newsheet-form button:hover, .newsheet-form button:active, .newsheet-form button:focus, .account-form button:hover, .account-form button:active, .account-form button:focus {
    background-color: var(--tan);
}

.newsheet-form button:disabled, .account-form button:disabled {
    text-decoration: line-through;
    background-color: var(--tan);
}

.form-error {
    color: var(--red);
}

#goals-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#goals-wrapper div {
    width: fit-content;
    min-width: 30%;
    text-align: center;
}

/** CHARACTER PERKS */
.perk-icon {
    width: 1.5em;
    height: auto;
    vertical-align: middle;
}


/** MODAL STYLING */
.modal-message {
    font-weight: bold;
}

.account-modal {
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
    border: 3px solid var(--black);
    background-image: url('./images/bg_modal.jpg');
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    overflow: auto;
    border-radius: 4px;
    padding: 5%;
}