.bodysection {
    min-height: 200px;
    padding: 30px 15px;
    background-color: #ddd;
}

.bodysection:nth-child(odd) {
    background-color: #fff;
}

h1, h2, h3 {
    text-align: center;
}

.screenreader-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.newsheet-form label {
    display: block;
    margin: 5px auto;
}

#perks-fieldset label {
    display: inline;
    margin: 5px;
}

.newsheet-form textarea {
    vertical-align: middle;
}

.form-buttons {
    text-align: center;
}

.form-error {
    color: red;
}

.modal-message {
    font-weight: bold;
}

.account-modal {
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
    border: 3px solid #000;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    padding: 5%;
}

.account-form label {
    display: block;
    margin: 5px auto;
}